
/*bird wing color: #C5B5D9*/
html{
  height: 100%;
}

html, body {
    margin:0;
    padding: 0;
}
body {
  	min-height: 100%;
	background-color: #3FEBCD;	
	font-family: 'Poiret One', sans-serif;
}


.intro {
    font-size: 18pt;
    width: 17em;
    text-align: center;
    margin: 150px auto 0 auto;
    padding-left:395;

}

.blurb {
    font-weight: 600;
}

.btn-landing {
    color:white;
    font-size: 10pt;
    background-color: #C5B5D9;
    height: 50px;
    width: 180px;
    border: none;
    margin-top: 10px;
    padding: 0px 5px;
    text-transform:uppercase;
    border-radius: 3px;
}
.btn-landing:hover {
    cursor: pointer;
    opacity: 0.91;
}
.btn-landing:focus, input.registration {
    outline: none;
}

button.add {
    width: 25px;
    height: 25px;
  position: relative;
  bottom: 60px;
  margin-left: 240px;
}

button.submit {
    height: 25px;
    width: 100px;
    margin-top: 20px;
}

input.registration {
    height: 30px;
    width: 200px;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.19),0px -1px 1px #FFF, 0px 0px 0px #FFF;
    padding: 0 8px;
    margin-top: 10px;
    font-size: 14px;
}

div.dynamic {
    position: relative;
    bottom: 28px;
}

div.registration {
    margin-top: 10px;
}
form.registration {
    margin-top: 30px;
}

div.bird {
    position: fixed;
    top:200px;
    left: 150px;
    width: 30%;
}

div.cloud {
    width: 100%;
}

.svg-container {
display: inline-block;
position: relative;
}

.svg-content {
display: inline-block;
position: absolute;
top: 0;
left: 0;
}