
/*bird wing color: #C5B5D9*/
html{
  height: 100%;
}

/*html, body {
    margin:0;
    padding: 0;

}
body {
    min-height: 100%;
    background-color: #5FE8C0;
    color: #F4F4F4; 
}*/


.intro {
    font-size: 18pt;
    width: 35em;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-left: 395px;
    padding-top: 125px;

}

.title-landing {
    font-family: 'Arvo', serif;
    margin: -20px auto 15px auto;
    width: 11em;
}

.blurb {
    width: 18em;
    font-size: 16px;
    margin: 10px auto;
    padding-bottom: 10px;
}

.btn-landing {
    color:#F4F4F4;;
    font-size: 16px;
    background-color: #C5B5D9;
    height: 50px;
    width: 180px;
    border: none;
    margin-top: 10px;
    padding: 0px 5px;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.btn-landing:hover {
    cursor: pointer;
    opacity: 0.91;
}


.btn-landing:active {
    opacity: 1.0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.27);
}
.btn-landing:focus, input.registration {
    outline: none;
}

button.submit {
    height: 25px;
    width: 100px;
    font-size: 12px;
    margin-top: 20px;
}

input.registration {
    height: 30px;
    width: 200px;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.19),0px -1px 1px #FFF, 0px 0px 0px #FFF;
    padding: 0 8px;
    margin-top: 10px;
    font-size: 14px;
}

div.dynamic {
    position: relative;
    bottom: 28px;
}

div.registration {
    margin-top: 10px;
    font-size: 16px;

}
form.registration {
    display: none;
}

div.bird {
    position: fixed;
    top:200px;
    left: 150px;
    width: 30%;
}

div.cloud {
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #98F2D3;
}

.svg-container {
display: inline-block;
position: relative;
}

.svg-content {
display: inline-block;
position: absolute;
top: 0;
left: 0;
}

#formHolder {
    min-height: 250px;
    margin-top: 20px;
}
